<html>
<div class="about-us-head">
    <div class="about-us-sec">
        <div class="text-first">
            <p class="para-section">
                What started as just a conversation amongst like-minded friends developed into a holding company. Our company focuses on the Real Estate market. We are currently looking at properties in Texas, and plan on expanding to having a portofolio of real estate all over the world.
            </p>
        </div>    
        <div class="img-second">
            <img src="assets/img-1">
        </div>
    </div>

    <div class="about-us-sec">
        <div class="img-first">
            <img src="assets/img-2">
        </div>
        <div class="text-second">
            <p class="para-section">
                We have plans to allow outside investment for a stake in our portfolio. 
                We will provide investors an in-depth view of the allocation of their capital, and transparently show the step-by-step process of our investment strategies. Unlike many other investment companies, we would like to bring our investors into the loop of things. Giving them freedom as well as providing them a space to voice their opinions on how to best grow their initial capital. We are determined to become titans of industry, and hope to provide you the best experience when it comes to managing your wealth.
            </p>
        </div>
    </div>
</div>    
</html>