<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>  

<div class="whole">
<html class="calendar"> 
<style>
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.whole {
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: maroon;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.active {
  padding: 5px;
  background: maroon;
  color: white !important 
}

# .days li .active {
#   padding: 5px;
#   background: #1abc9c;
#   color: white !important
# }

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
</style>

<body>

<div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      <span id="month-mine"></span>
      <br>
      <span style="font-size:18px" id="year-mine"></span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">  
  <li id="1"><span>1</span></li>
  <li id="2"><span>2</span></li>
  <li id="3"><span>3</span></li>
  <li id="4"><span>4</span></li>
  <li id="5"><span>5</span></li>
  <li id="6"><span>6</span></li>
  <li id="7"><span>7</span></li>
  <li id="8"><span>8</span></li>
  <li id="9"><span>9</span></li>
  <li id="10"><span>10</span></li>
  <li id="11"><span>11</span></li>
  <li id="12"><span>12</span></li>
  <li id="13"><span>13</span></li>
  <li id="14"><span>14</span></li>
  <li id="15"><span>15</span></li>
  <li id="16"><span>16<span></li>
  <li id="17"><span>17</span></li>
  <li id="18"><span>18</span></li>
  <li id="19"><span>19</span></li>
  <li id="20"><span>20</span></li>
  <li id="21"><span>21</span></li>
  <li id="22"><span>22</span></li>
  <li id="23"><span>23</span></li>
  <li id="24"><span>24</span></li>
  <li id="25"><span>25</span></li>
  <li id="26"><span>26</span></li>
  <li id="27"><span>27</span></li>
  <li id="28"><span>28</span></li>
  <li id="29"><span>29</span></li>
  <li id="30"><span>30</span></li>
  <li id="31"><span>31</span></li>
</ul>

</body>
</html>
</div>

<script async>

    var monthsdata = [ "January", "February", "March", "April", "May", "June", 
    "July", "August", "September", "October", "November", "December" ];

    var today = new Date();
    
    var json_date = today.toJSON().split("-");
    
    var year = parseInt(json_date[0]);
    
    var month = parseInt(json_date[1]);
    
    var day = parseInt(json_date[2].slice(0,2)) - 1;
    
    var selectedMonthName = monthsdata[month - 1];
    
    var year_show = $("#year-mine")
    var days = $("#month-mine")

    year_show.text(`${year}`)
    days.text(`${selectedMonthName}`)

    $(`#${day} span`).addClass("active")

</script>
