<h1 class="links-header">Important Links</h1>

<div class="link-list">
    <div><a href="https://drive.google.com/drive/folders/1Ysr8_2MGfn0a0xjoS9mhJ8nJAPQkY1Vm?usp=sharing_eil&ts=5f979a48"><span>Google Drive (FTP Documents)</span></a></div>
    <br>
    <div><a href="https://docs.google.com/document/d/1jH1vAW0ZhNr5iqUw_rsy98iWttShcbt-rz7tnxmaH5g/edit?usp=sharing_eil&ts=5f72b2e2"><span>Google Drive (Meeting Minutes)</span></a></div>
    <br>
    <div><a href="http://www.realtor.com"><span>Realtor Link</span></a></div>
    <br>
    <div><a href="http://www.roofstock.com"><span>Roofstock Link</span></a></div>
</div>    


