<h1 class="members-header">Founding Members</h1>

<div class="members-card-page">

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Ju Yong Kim</h2>
            <p class="card-text">
                Hi my name is Ju Kim and I am one of the founders of FTP Ventures LLC. Coming in with an economics/tech management education background, I'm hoping to contribute market analysis of our investment properties. growing up I believed that the 9-5 lifestyle was the only way to succeed. I went to college, did my time, and have now started a full time job. After working for a while, I've come to realize that there was a way to generate multiple streams of income without having to go through the traditional route.
            </p>

            <p class="card-text">
                Through life's tribulations I want to make more of myself than sitting at a desk for 8 hours a day. Though this route of entrepreneurship may have its rough days, I believe in my abilities as well as my co-founders' abilities to make this company into a success story. By revolutionizing investment methods, I hope to bring my ideas to fruition, and turn not just my dreams, but the dreams' of our investors into a story of success.
            </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Vedad Virani</h2>
            <p class="card-text">
                Coming in with a background in Engineering along with a deep passion for the vast world of investing, I strive to apply all I know to our business and develop FTP Ventures into an impactful force in the real estate market. I am currently working towards becoming a Web Developer and realized I had a great opportunity to develop this website and create tools to help develop our business.
            </p>

            <p class="card-text">
                My two main passions are technology and finance. I have always been fascinated by the exponential development of new technologies. I strive to be in front of new technology and believe that is the key to a successful business or venture. My next goal is to master and integrate blockchain and smart contract technology to FTP Ventures and initiate the future of the real estate market.
            </p>
      </div>
    </div> 

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Justin Sam</h2>
            <p class="card-text">
                With a background in criminal justice, I am currently on my third year as a Customs and Border Protection officer. Now that my career has a strong foundation, I’ve began to learn and dive deeper into my other interests, which are real estate and the stock market.
            </p>

            <p class="card-text">
                Aside from these interests, my passion has always been in health and fitness so I make that a priority even with my long working hours. Lifting has not only taught me perseverance, persistence, and patience, but humility as well. I am excited and motivated to see what this real estate venture holds for us.
            </p>
      </div>
    </div>
</div>

<div class="members-card-page">

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Garrett Garcia</h2>
            <p class="card-text">
                The real estate business... the wild west. Venturing off into the world of uncertainty, I knew things wouldn't be easy. Sticking to my guns with a background in product and project management, I help create contingency plans and evergreen solutions. 
            </p>

            <p class="card-text">
                As I pursue my goals and aspirations, I have found hard work and dedication can take you far. My journey hasn't been the longest but every day I strive to improve and during those trying times is where you grow the most. Lift while you climb my friends.
            </p>
        </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">John Kim</h2>
            <p class="card-text">
                John led the creation of FTP Ventures and under his vision, he transformed his dream of a real estate fund into a reality. He is currently at Juul Labs where he has over 4 years of experience as a system developer and product lifecycle manager. Beyond real estate, John is an expert in blockchain and an early investor of cryptocurrency.
            </p>
      </div>
    </div>  

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Derrick Yu</h2>
            <p class="card-text">
                Derrick is a Sr Financial Analyst with a passion for investing. With over 4 years of accounting 
                and financial analysis experience, Derrick brings his expertise to FTP Ventures to oversee 
                all financial functions.
            </p>
      </div>
    </div> 

</div>
