<html>
    <body class="welcome-body">
    <div class="welcome-div">
        <div class="cutout">
            <p class="welcome-text">Interested?<br>Contact us!</p> 
            <a href="/contact"><span class="welcome-button">Contact</span></a>
        </div>   
    </div>
    </body>
</html>    