<h1 class="links-header">Important Links</h1>

<div class="link-list">
    <div><a href="http://www.realtor.com"><span>Realtor Link</span></a></div>
    <br>
    <div><a href="http://www.roofstock.com"><span>Roofstock Link</span></a></div>
</div>    


