<div class="transactions-form-div">
<form role="form" action="/mock/transactions" method="post" class="transactions-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="mb-3">
        <label class="form-label">Transaction Description</label>
        <br>
        <input type="text" name="mock_transactions[transaction_description]" class="form-control"></input>
    </div>
    <div class="mb-3">
        <label class="form-label">Transaction Value</label>
        <br>
        <input type="text" name="mock_transactions[value]" class="form-control"></input>
    </div>
    <div class="mb-3">
        <label class="form-label">Transaction Type</label>
        <br>
        <select name="mock_transactions[transaction_type]" class="form-control">
            <option value="All Members">All Members</option>
            <option value="Single Member">Single Member</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-light">Submit</button>
</form>
</div>