// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-links {
    list-style: none;
    font-weight: 600;
}

.header-links li:hover {
    background: darkgray;
}

.header-links li {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.right-side {
    display: inline-block;
    float: right;
    margin-right: 35px;
}

.contact-info {
    color: white;
    font-weight: 600;
    text-align: center;
}

.about-us-head {
    margin-top: 50px;
    width: 80vw;
    border: 1px solid maroon;
    background-color: black;
    margin: auto;
    padding: 25px;
    margin-bottom: 50px;
    color: white;
    border-radius: 5px;
    font-size: 50px;
    font-weight: 1000;
}

.member-login-form {
    margin: auto;
    text-align: center;
    display: block;
    width: 50%;
}

.side-nav-bar {
    list-style: none;
}

.main-section {
    display: inline-block;
}

.portal-header, .main-section {
    margin-top: 50px;
}

.portal-header {
    color: white;
    font-weight: 600;
}

.side-nav {
    width: 18vw;
    background-color: white;
}

.side-nav li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid maroon;
    text-align: center;
}

li:hover {
    background-color: rgb(255, 160, 160);
}

.side-nav a {
    text-decoration: none;
}

.overview {
    width: 63vw;
    margin-left: 10px;
    height: 52vh;
    background-color: white;
    border-radius: 5px;
}

.side-nav, .overview {
    border: 2px solid maroon;
    float: left;
}

.balance {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

.amortization-form {
    border: 2px solid maroon;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 50px;
}

.header-2, .month, .bal, .int-paid, .principal {
    text-align: center;
}

.graph {
    height: 10px;
}

.links-header {
    color: white;
    margin-bottom: 50px;
}

.link-list {
    text-align: center;
}

.link-list a {
    text-decoration: none;
    color: white;
}

.link-list a:visited {
    color: white;
}

.link-list div {
    margin: 10px;
}

.welcome-header {
    color: white;
    font-weight: 600
}

.header {
    margin-top: 25px;
}

.members-header {
    color: white;
    font-weight: 1000;
    font-size: 40px;
    margin-bottom: 50px;
}

.side-nav-bar {
    font-size: 15px;
}

.members-card-page {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.welcome-body {
    background-image: url("/assets/welcome_large");
    max-width: 100%;
    width: 100vw;
}

.welcome-div {
    position: relative;
}

.cutout {
    position: absolute;
    top: 50px;
    left: 50px;
    animation: moveFirst 1s linear;
    animation-iteration-count: 1;
}

.welcome-text {
    color: white;
    font-size: 70px;
    font-weight: 1000;
}

.welcome-button {
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    font-weight: 600;
}

@-webkit-keyframes moveFirst {
    from {
      left: -50%;
    }
    to {
      left: 50px;
    }
}

.card {
    width: 30vw;
    height: 30rem;
}

.card-title {
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.card-text {
    font-size: 12px;
    text-indent: 25px;
}

 .button-div {
    text-align: center;
}

@media(max-width:767px){
    .side-nav {
        height: 53vh;
        width: 30vw
    }

    .amortization-form {
        width: auto;
    }

    .members-card-page {
        display: inline-flex;
    }

    .card {
        width: 80vw;
        height: auto;
        margin-bottom: 25px;
    }
}